body 
{
    background-color: teal;
}

#show_sketch
{
    float: right;
}

#score1
{
    font-size: 26px;
    margin-left: 5px;
    float: left;
    font-family: 'Oswald', sans-serif;
}

#timer1
{
    font-size: 26px;
    float: right;
    margin-right: 5px;
    font-family: 'Oswald', sans-serif;
}

#sketch
{
    color: black;
    font-size: 30px;
}



